{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}    
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Social Insecurity</h1>
        <p class="lead">The social network for the insecure&trade;</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card text-center">
                <div class="card-header">
                    Sign In
                </div>
                <div class="card-body">
                    <h5 class="card-title">Access an existing profile</h5>
                    <form action="" method="POST" novalidate>
                        {{ wtf.form_field(loginForm.username) }}
                        {{ wtf.form_field(loginForm.password) }}
                        {{ wtf.form_field(loginForm.remember_me) }}
                        {{ wtf.form_field(loginForm.submit, class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card text-center">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <h5 class="card-title">Create a new profile</h5>
                    <form action="", method="POST" novalidate>
                        {{ wtf.form_field(registerForm.csrf_token) }}
                        {{ wtf.form_field(registerForm.first_name) }}
                        {{ wtf.form_field(registerForm.last_name) }}
                        {{ wtf.form_field(registerForm.username) }}
                        {{ wtf.form_field(registerForm.password) }}
                        {{ wtf.form_field(registerForm.confirm_password) }}
                        {{ wtf.form_field(registerForm.submit, class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}